body{
    margin: 0;
    font-family: Inter,sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #282D35;
}
#nav-dropdown-dark-example{
    color: #1a1668;
    font-weight: bold;
}
.footer-class{
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
}
.ant-pagination-item-active:where(.css-dev-only-do-not-override-1fviqcj).ant-pagination .ant-pagination-item-active{
    border-color: #eaa451;
}
.user-info-form{
    display: flex;
}
*{
    /* overflow-x:hidden; */
}
.admin-nav{
    margin-bottom: 30px;
}